* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

h1 {
    font-size: 48px;
}

h1, h2 {
    color: coral;
}

p {
    font-size: 20px;
    text-align: justify;
}

.recipe-link {
    font-size: 28px;
}

li {
    font-size: 18px;
}

ul {
    font-style: italic;
}

/* ol {
    font-style: oblique;
} */

img {
    height: auto;
    width: 450px;
}